<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main3.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<header>
    <div class="a111">
        <h1>Welcome your Detail</h1> <br>
        <a style="width: 50px; height: 30px;margin-top: 50px" href="{% url 'list_u' %}">Menu</a>
        <a style="width: 50px; height: 30px;margin-top: 50px" href="http://127.0.0.1:8000/delete_u/{{object.id}}">Delete</a>
        <a style="width: 50px; height: 30px;margin-top: 50px" href="http://127.0.0.1:8000/update_u/{{object.id}}">Update</a>
    </div>
</header>

{% block content %}
<div class="container">
    <div class="card">
        <h3>Fullname: {{object.fullname}}</h3>
        <h3>Username: {{object.username}}</h3>
        <h3>Email: {{object.email}}</h3>
        <h3>Phone number: {{ object.phone_number }}</h3>
        <h3>Register date: {{object.register_date}}</h3>
    </div>
</div>
{% endblock content %}

</body>
</html>
