<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<header>
    <div class="a111">
        <h1>Welcome to Your Detail</h1> <br>
        <a style="width: 50px; height: 30px; margin-top: 50px;" href="{% url 'list_c' %}">Menu</a>
        <a style="width: 50px; height: 30px;margin-top: 50px"  href="http://127.0.0.1:8000/delete_c/{{object.id}}">Delete</a>
        <a style="width: 50px; height: 30px;margin-top: 50px" href="http://127.0.0.1:8000/update_c/{{object.id}}">Update</a>
    </div>
</header>

{% block content %}
<div class="container">
    <div class="card">
        <h3>Name: {{ object.name }}</h3>
        <h3>Image: {{ object.image }}</h3>
    </div>
</div>
{% endblock content %} 

</body>
</html>
