<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main1.css' %}">
</head>
<body>

    <div class="a1">
        <h1>Category</h1>
        <div class="base">
            <a href="{% url 'base' %}"><h3 class="sas">Home</h3></a>
            <a href="{% url 'create_c' %}"><h3 class="sas">Add</h3></a>
        </div>
    </div>

    <div class="b1">
        <table>
            <caption><h3>Category</h3></caption>
            <tr>
                <th>Images</th>
                <th>Name</th>
                <th>Detail</th>
            </tr>
            {% for m in object_list %}
            <tr>
                <td><img style="width: 50%;" src="{{ m.image.url }}" alt="{{ m.name }}"></td>
                <td>{{ m.name }}</td>
                <td><a href="{% url 'detail_c' m.id %}">Get</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
